body {
    background-color: #22b2c2;
}
img{
    width:30%;
}


#dog1 {
    display: block
}


#dog2 {
    display: none
}

@media screen and (max-width: 800px) {

    body {
    background-color: rgb(205, 20, 226);
    
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
@media screen and (max-width: 500px) {
    body {
        background-color: rgb(34, 20, 234);
        }
        h1 {
        font-size: 40px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold; 
        position: relative;
        color:khaki; 
    }
    #navbar {
      display: flex;
        flex-direction: column;
    }
#dog1 {
    display: none;
}
#dog2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    image-rendering:crisp-edges;
}
}